<!DOCTYPE configuration>
<configuration>

  <appender name="FILE"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/var/log/tomcat/ands-vocabs-registry-email-notifications.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- monthly rollover -->
      <fileNamePattern>/var/log/tomcat/ands-vocabs-registry-email-notifications.%d{yyyy-MM}.log</fileNamePattern>
      <!-- Optional: uncomment the following setting to limit the number
        of log files kept. -->
      <!-- Keep 12 months' worth of history -->
      <!-- <maxHistory>12</maxHistory> -->
    </rollingPolicy>
    <encoder>
      <pattern>%d [%thread] %level %logger - %m%n</pattern>
    </encoder>
  </appender>

  <root level="${root-level:-INFO}">
    <appender-ref ref="FILE" />
  </root>
  <logger name="au.org.ands.vocabs" level="INFO" />
  <logger name="org.hibernate" level="OFF" />

</configuration>
