#!/bin/bash

# The registry should be installed in a Tomcat container.
# Either edit this script to set the directory below,
# or set the environment variable REGISTRY_ROOT to point to it.

: ${REGISTRY_ROOT:=~tomcat/webapps-ands/vocabs-registry}

# NB, note use of custom logback configuration.
# It must not allow any logging to go to stdout.
# Just in case, redirect stderr to /dev/null. But
# the logback configuration should be enough.

SCRIPTPATH=$( cd $(dirname $0) ; pwd -P )

java -Dlogback.configurationFile=$SCRIPTPATH/logback-rewrite_current.xml \
     -cp $REGISTRY_ROOT/WEB-INF/lib/*:$REGISTRY_ROOT/WEB-INF/classes \
     au.org.ands.vocabs.registry.utils.RewriteCurrent \
     "$@" 2>/dev/null
